.time {
  color: #fff;
  font-family: 'HK Grotesk', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.all-movie-detail-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px;
}
.detail-1-container {
  width: 200px;
}
.all-detail-heading {
  color: #94a3b8;
  font-family: 'HK Grotesk', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 15px;
}
.all-detail-list {
  list-style-type: none;
  padding: 0px;
}
.list {
  color: #fff;
  font-family: 'HK Grotesk', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  margin-top: 0px;
}
.movie-details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 170px;
}

.sensor {
  border: 1.5px solid #fff;
  background-color: transparent;
  padding: 4px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}
.detail-movie-type {
  color: #fff;
  font-family: 'HK Grotesk', sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  margin-top: 0px;
  margin-left: 10%;
}
